// overwrites
$container-max-widths: (
  sm: 600px,
  md: 840px,
  lg: 960px,
  xl: 1140px
);

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 840px,
  lg: 992px,
  xl: 1200px
);

// var(--mdc-theme-text-primary-on-dark) BOOTSTRAP can't deal with var() colors for now..
//$primary: var(--mdc-theme-primary);
//$secondary: var(--mdc-theme-secondary);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";


@import "~bootstrap/scss/images";
//@import "~bootstrap/scss/bootstrap-grid";

// UTILITIES
@import "~bootstrap/scss/utilities/align";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/utilities/borders";
//@import "~bootstrap/scss/utilities/clearfix";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/embed";
@import "~bootstrap/scss/utilities/flex";
//@import "~bootstrap/scss/utilities/float";
@import "~bootstrap/scss/utilities/overflow";
@import "~bootstrap/scss/utilities/screenreaders";
//@import "~bootstrap/scss/utilities/shadows";
@import "~bootstrap/scss/utilities/stretched-link";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/spacing";

// image slider for lightbox
@import "~bootstrap/scss/carousel";

// individual components
@import "addon_bootstrap_components";
