body, .app__root {
  display: block;
  min-height: 100vh;
}

body, .mdc-drawer, .mdc-drawer .mdc-list-item {
  color: var(--mdc-theme-on-surface);
}

body, .mdc-drawer, .app__root {
  background-color: yellow;
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-surface);
}

// overwrite how mdc handles colors, bg-colors and borders to overwrite props correctly
.lm-content-section {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-on-surface);

  .mdc-button, a .mdc-button {
    color: var(--mdc-theme-text-primary-on-background);

    &.mdc-button--outlined {
      border-color: var(--mdc-theme-text-primary-on-background)
    }
  }
}

// body footer
footer .nav .nav-link {
  padding-left: 0;
  color: var(--mdc-theme-text-primary-on-background)
}

// links
a {
  color: var(--mdc-theme-link);

  &:hover {
    color: var(--mdc-theme-link-hover);
  }
}

// section reset of default margins
.mdc-layout-grid__cell {
  > .lm-markup {
    margin-top: 1em;
    margin-bottom: 1em;

    > p {
      margin: 1em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}


// loaded source
.material-icons {
  visibility: hidden;
}

.fonts-loaded {
  .material-icons {
    visibility: visible;
  }

  body, .mdc-top-app-bar__title, .mdc-typography, .mdc-typography--body1, .mdc-typography--body2,
  .mdc-typography--headline1, .mdc-typography--headline2, .mdc-typography--headline3, .mdc-typography--headline4,
  .mdc-typography--headline5, .mdc-typography--headline6, .mdc-typography--subtitle1, .mdc-typography--subtitle2, .mdc-typography--caption, .mdc-typography--overline, .mdc-button,
  .mdc-drawer__title, .mdc-drawer__subtitle, .mdc-list {
    font-family: "Nunito";
  }
}


