$mdc-typography-styles-button: (
  text-transform: none,
);

@import 'variables';
@import "~@material/button/mdc-button.scss";
@import "~@material/icon-button/mdc-icon-button";
@import "~@material/fab/mdc-fab";


// special designs for button lists
.lm-button-list__margin-left {
  margin-left: -12px; // moves 12 px to the left (button-icon padding)
}

.mdc-button.lm-button-large {
  height: 40px;
  font-size: 1.2rem; // 13sp
  .mdc-button__icon {
    font-size: 1.2rem;
  }
}

.mdc-button.lm-button-xlarge {
  height: 50px;
  font-size: 1.3rem; // 13sp
  .mdc-button__icon {
    font-size: 1.3rem;
  }
}


.mdc-button.lm-button-square {
  @include mdc-button-shape-radius(0px);
}

.mdc-button.lm-button-shaped {
  @include mdc-button-shape-radius(18px);
}

.mdc-button.lm-button-shaped.mdc-button--dense {
  @include mdc-button-shape-radius(16px);
}

.mdc-button.lm-button-shaped.lm-button-large {
  @include mdc-button-shape-radius(20px);
}

.mdc-button.lm-button-shaped.lm-button-xlarge {
  @include mdc-button-shape-radius(24px);
}
