@import "~@material/card/mdc-card";

.mdc-card a {
  color: inherit;
  border-radius: inherit;
}

.mdc-card {
  h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
  }
}
.mdc-card__media{
  background-color: grey;
}
.mdc-card__media-content {
  padding: 1rem;
}

.lm-card__content-padding {
  padding: 1rem;
}

.lm-card__content.mdc-card__media-content {
  display: flex;
  align-items: flex-end;
}

