@import "~@material/dialog/mdc-dialog";

.lm-dialog-lightbox {
  .mdc-dialog__container {
    width: 100%;
    height: 100%;
    flex: 1;
  }
  .mdc-dialog__surface {
    max-height: 100%;
    max-width: 100%;
    flex-grow: 1;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: none;
  }
  .mdc-dialog__content {
    > div {
      height: calc(100vh - 80px);
    }
  }
  .react-swipeable-view-container {
    height: 100%;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
