.lm-content-section__parallax {
  .parallax__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parallax-outer {
    background-color: darkgrey;
    filter: blur(5px)
  }

  &.loaded .parallax-outer {
    filter: blur(0)
  }
}
