.lm-background__absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lm-background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lm-background__blurred {
  filter: blur(5px)
}

.lm-relative-wrap {
  position: relative;
  overflow: hidden;

  > * {
    position: relative;
  }

  > .lm-background-image {
    @extend .lm-background__absolute-fill
  }
}


.lm-background-image.lm-bg-section__contain {
  background-size: contain;
}

.lm-background-image.lm-bg-section__repeat {
  background-repeat: repeat;
}

.lm-content-section.lm-section__full-height {
  width: 100%;
  height: 100vh;

  > .mdc-layout-grid {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.lm-video-section {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;

  > .mdc-layout-grid {
    position: relative;
    z-index: 0;
  }
}


.videobg {
  position: relative;
  width: 100%; /* Set video container element width here */
  height: 100%; /* Set video container element height here */
  overflow: hidden;
  background: #111; /* bg color, if video is not high enough */
}

/* horizontally center the video */
.videobg-width {
  position: absolute;
  width: 100%; /* Change width value to cover more area*/
  height: 100%;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

/* set video aspect ratio and vertically center */
.videobg-aspect {
  position: absolute;
  width: 100%;
  height: 0;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  //padding-bottom: 56.25%; /* 16:9 ratio this is calculated inside the component */
  overflow: hidden;
}

.videobg-make-height {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.video-no-mouse {
  pointer-events: none;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
