@import "~@material/top-app-bar/mdc-top-app-bar.scss";


.lm-logo-header {
  display: flex;
  height: 100%;
  align-items: center;

  .mdc-top-app-bar__title {
    display: flex;
    height: 100%;
    align-items: center;
  }

  img {
    height: 48px;
  }
}

// make toolbar boxed design
.lm-toolbar__fixed-width {
  .mdc-top-app-bar__row {
    margin: 0 auto;
    // take the mixin from grid
    @each $size in map-keys($mdc-layout-grid-columns) {
      @include mdc-layout-grid-media-query_($size) {
        $margin: map-get($mdc-layout-grid-default-margin, $size);
        $gutter: map-get($mdc-layout-grid-default-gutter, $size);
        $column-width: map-get($mdc-layout-grid-column-width, $size);

        @include mdc-layout-grid-fixed-column-width($size, $margin, $gutter, $column-width);
      }
    }
  }
}

// make font weights bold for top nav text
.lm-toolbar__bold-text {
  .mdc-top-app-bar__section {
    > a, > .mdc-menu-surface--anchor > .mdc-button {
      font-weight: 700;
    }
  }
}

// change colors for button, label and title according to theme colors
.mdc-top-app-bar__section {
  .mdc-button, a .mdc-button, .mdc-button__label, .mdc-top-app-bar__title {
    color: var(--mdc-theme-on-primary);
  }
}

// add transparent toolbar in case feature element is present
.mdc-top-app-bar {
  &.lm-toolbar-transparent {
    background-color: transparent;

    .mdc-top-app-bar__section {
      .mdc-button, a .mdc-button, .mdc-button__label, .mdc-top-app-bar__title, .mdc-top-app-bar__navigation-icon {
        color: white;
      }
    }
  }

  transition: background-color .3s ease-in-out; // nice effect if changed bg..
  &:not(.lm-toolbar-transparent) {
    border-bottom: 1px solid whitesmoke; // maybe customizable with var
  }

  .mdc-button, .mdc-list-item a {
    letter-spacing: 0; // remove letter spacing
  }
}

// overwrite md-list-item a link styles to match
.mdc-menu .mdc-list-item {
  a {
    color: inherit;
    white-space: nowrap;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 0.875rem;

    &:focus {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
