@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/iconfont/MaterialIcons-Regular.eot');
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('/static/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
  url('/static/iconfont/MaterialIcons-Regular.woff') format('woff'),
  url('/static/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* nunito-300 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('/static/nunito/nunito-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Nunito Light'), local('Nunito-Light'),
  url('/static/nunito/nunito-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/nunito/nunito-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('/static/nunito/nunito-v10-latin-300.woff') format('woff'), /* Modern Browsers */ url('/static/nunito/nunito-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('/static/nunito/nunito-v10-latin-300.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/static/nunito/nunito-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
  url('/static/nunito/nunito-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/nunito/nunito-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/static/nunito/nunito-v10-latin-regular.woff') format('woff'), /* Modern Browsers */ url('/static/nunito/nunito-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('/static/nunito/nunito-v10-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('/static/nunito/nunito-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Nunito Bold'), local('Nunito-Bold'),
  url('/static/nunito/nunito-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/static/nunito/nunito-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('/static/nunito/nunito-v10-latin-700.woff') format('woff'), /* Modern Browsers */ url('/static/nunito/nunito-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('/static/nunito/nunito-v10-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
}

body, .fonts-loaded .mdc-typography, .fonts-loaded .mdc-typography--body1, .fonts-loaded .mdc-typography--body2,
.fonts-loaded .mdc-typography--headline1, .fonts-loaded .mdc-typography--headline2, .fonts-loaded .mdc-typography--headline3, .fonts-loaded .mdc-typography--headline4,
.fonts-loaded .mdc-typography--headline5, .fonts-loaded .mdc-typography--headline6, .fonts-loaded .mdc-typography--subtitle1, .fonts-loaded .mdc-typography--subtitle2, .fonts-loaded .mdc-typography--caption, .fonts-loaded .mdc-typography--overline, .fonts-loaded .mdc-button {
  font-family: "Nunito";
}
